<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eight.mapper.consume.logisticsMapper">

    <resultMap id="LogisticsMap" type="com.eight.bean.Logistics">
        <id property="userId" column="user_id"></id>
        <id property="orderId" column="order_id"></id>
        <result property="message" column="message"></result>
        <result property="currentTime" column="current_time"></result>
    </resultMap>

    <select id="getLogistics" resultMap="LogisticsMap">
        select * from Logistics where user_id=#{user_id} and order_id=#{order_id}
    </select>

</mapper>